{% extends 'userbase.html' %}
{% load static %}

{% block content %}
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
           
            <h1 class="text-capitalize mb-5 text-lg">Abouts Us</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">All Doctors</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section doctors">
    <div class="container">
          <div class="row justify-content-center">
               <div class="col-lg-6 text-center">
                  <div class="section-title">
                      <h2>Abouts Us</h2>
                      <div class="divider mx-auto my-4"></div>
                      <p>{{page.aboutus}} </p>
                  </div>
              </div>
          </div>
  
    
    </div>
  </section>
<!-- Appointment End -->
{% endblock %}